body {
  font-family: 'Loved by the King', cursive;
  color: #FFFD40;
  background: #6890D4 repeat;
}

p {
  font-size: 1.5em;
}

a {
  color: #FFBC40;
  text-decoration: none;
}

h1 {
  font-size: 2em;
  letter-spacing: -1.5px;
}

h2 {
  font-size: 1.8em;
  color: #FFA500;
}

.btn {
  color: #FFBC40;
  background: #5D2680 no-repeat right top;
  padding: 15px 30px;
  margin: 40px 0px;
  border-radius: 25px;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #6C0AAB;
  color: #FFFD40;
}

ul.nav {
  margin: 20px 0 0 0;
  list-style: none;
  float: right;
}

ul.nav li {
  float: left;
  margin-right: 50px;
}

ul.nav li a {
  color: #FFFD40;
  font-size: 1.6em;
}

#intro {
  margin: 50px 10px 75px 0;
}

.logo img {
  margin-top: 20px;
  margin-left: 180px;
}

#new-cupcakes img {
  border: 8px solid #FAF3BC;
  margin: 20px 0 20px 0;
}

#featured-cupcake img {
  border: 8px solid #FAF3BC;
  margin-left: 100px;
  margin-top: 70px;
}

.contact a img {
  background: #6C0AAB;
  border: 3px solid #6C0AAB;
  border-radius: 30px;
}

#copyright {
  border-top: 8px solid #29477F;
  padding: 10px 0px;
  margin: 15px 0px;
  text-align: center;
}
















